{% extends 'base.html' %}

{% block title %}
Clustering on stocks data
{% endblock title %}

{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock custom_css %}

{% block body %}

<div class="container-fluid masthead main-container">
    <div class="row">
        <div class="col">
            <form method="POST">
                <div class="form-group">
                    <label for="translation">
                        <blockquote class="blockquote">
                            <p class="mb-2">Enter the details as indicated:</p>
                        </blockquote>
                    </label>
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender</label>
                        <select name="gender" class="form-select form-control">
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">Age</label>
                        <input id="age" class="form-control" name="age" type='number' placeholder="Enter an age between 18 to 70" value="{{ request['age'] }}"
                            required min="18" max="70" pattern="\d*">
                        <div class="invalid-feedback">
                            Please provide a valid age.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="annual-income" class="form-label">Annual Income (K$)</label>
                        <input id="annual-income" class="form-control" name="annual-income" type='number' value="{{ request['annual-income'] }}"
                            placeholder="Enter an annual income between 15 to 137 " required min="15" max="137" step="0.01">
                        <div class="invalid-feedback">
                            Please provide a valid annual income.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="spending-score" class="form-label">Spending Score</label>
                        <input id="spending-score" class="form-control" name="spending-score" type='number' value="{{ request['spending-score'] }}"
                            placeholder="Enter the spending score between 1 to 99" required min="1" max="99" pattern="\d*">
                        <div class="invalid-feedback">
                            Please provide a valid spending score.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Cluster</button></br>
                    </br>
                </div>
            </form>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="result">
                    <blockquote class="blockquote">
                        <p class="mb-2">Prediction:</p>
                    </blockquote>
                </label>
                <div class="mb-3">
                    <label for="output" class="form-label">Cluster Group</label>
                    <textarea readonly class="form-control" id="result"
                        rows="5">Cluster Label is: {{ response }}</textarea>
                </div>
            </div>
        </div>             
    </div>
    <div class="row align-self-center w-100">
            <div class="pair-plot col-6 mx-auto">
                <label for="output" class="form-label">Pair Plot</label>
                <img src="{{ url_for('static', filename='images/output.png') }}" alt="mall customer relationships">
            </div>            
    </div> 
</div>


{% endblock body %}

{% block custom_js %}
<!-- Custom JS -->
<script src="{{ url_for('static', filename='script/index.js') }}"></script>
{% endblock custom_js %}