body {
  background-color: #eff8ff;
}

.main-container {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  min-height: calc(100vh - 42px - 69.25px - 20px);
}

.overlay {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
}

.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-light {
  background-color: #a4c4e3 !important;
}

.pair-plot {
  text-align: center;
}
.pair-plot label {
  display: block;
  line-height: 0;
}
.pair-plot img {
  display: inline-block;
  margin-top: 12px;
  height: auto;
  width: 100%;
}
