on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
name: Linux_Container_Workflow

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        # checkout the repo
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@main
          
        - name: 'Login via Azure CLI'
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}
        
        - name: 'Build and push image'
          uses: azure/docker-login@v1
          with:
            login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
            username: ${{ secrets.REGISTRY_USERNAME }}
            password: ${{ secrets.REGISTRY_PASSWORD }}
        - run: |
            docker-compose up --build -d
            az acr login --name ${{ secrets.CONTAINER_REGISTRY_NAME }} --expose-token
            TOKEN=$(az acr login --name ${{ secrets.CONTAINER_REGISTRY_NAME }} --expose-token --output tsv --query accessToken)
            docker login ${{ secrets.CONTAINER_REGISTRY_NAME }}.azurecr.io --username 00000000-0000-0000-0000-000000000000 --password $TOKEN
            docker-compose down
            docker push  ${{ secrets.CONTAINER_REGISTRY_NAME }}.azurecr.io/


        
